/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: radial-gradient(circle at top, #2b1457, #120722);
  color: white;
}

/* Navbar */
.navbar {
  height: 70px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 26px;
  font-weight: 800;
}

.logo span {
  background: linear-gradient(90deg, #ff3cac, #784ba0, #2b86c5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #ddd;
  font-weight: 500;
}

.btn-primary {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
   background: linear-gradient(
    90deg,
    #ffcc33,
    #ff5ca8,
    #8f3cff
  );
  box-shadow:0 10px 25px rgba(0,0,0,0.3);
  transition:transform 0.2s ease;
  color: white;
  cursor: pointer;
}

/* Hero Section */
.hero {
  position: relative;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url("../assets/hero-bg.png");
}

.hero-content {
  text-align: center;
  z-index: 2;
}

/* Microphone */
/* .mic-wrapper {
  position: relative;
  display: inline-block;
}

.mic-circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ff3cac, #784ba0, #2b86c5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}

.badge {
  position: absolute;
  top: 10px;
  right: -10px;
  background: #00ff9c;
  color: black;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
} */

/* Text */
.hero h1 {
  font-size: 48px;
  margin-top: 30px;
}

.hero p {
  max-width: 520px;
  margin: 15px auto 30px;
  color: #cfc8ff;
}

/* Buttons */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}



.btn-outline {
  padding: 12px 22px;
  border-radius: 25px;
  border: 2px solid #00ff9c;
  background: transparent;
  color: #00ff9c;
  cursor: pointer;
}

/* Waves */
.wave {
  position: absolute;
  top: 50%;
  width: 40%;
  height: 2px;
  background: repeating-linear-gradient(
    to right,
    rgba(255,255,255,0.6),
    rgba(255,255,255,0.6) 2px,
    transparent 2px,
    transparent 8px
  );
  opacity: 0.4;
}

.wave-left {
  left: 0;
}

.wave-right {
  right: 0;
}
