@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: radial-gradient(circle at top, #2b1457, #120722);
  color: white;
}

/* Navbar */
.navbar {
  height: 70px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 26px;
  font-weight: 800;
}

.logo span {
  background: linear-gradient(90deg, #ff3cac, #784ba0, #2b86c5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #ddd;
  font-weight: 500;
}

.btn-primary {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
   background: linear-gradient(
    90deg,
    #ffcc33,
    #ff5ca8,
    #8f3cff
  );
  box-shadow:0 10px 25px rgba(0,0,0,0.3);
  transition:transform 0.2s ease;
  color: white;
  cursor: pointer;
}

/* Hero Section */
/* .hero {
  position: relative;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url("../assets/hero-bg.png");
} */
 .hero {
  position: relative;
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url("../assets/hero-bg.png") ;
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;  
}


/* .hero-content {
  text-align: center;
  z-index: 2;
} */
 .hero-content {
  text-align: center;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Microphone  */
 /* .mic-wrapper {
  position: relative;
  display: inline-block;
} */
 .mic-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


/* .mic-circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ff3cac, #784ba0, #2b86c5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
} */
 .mic-circle {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ff3cac, #784ba0, #2b86c5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.45);
}


/* .badge {
  position: absolute;
  top: 10px;
  right: -10px;
  background: #00ff9c;
  color: black;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
} */
 .badge {
  position: absolute;
  top: 14px;
  right: 10px;
  background: #00ff9c;
  color: #000;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  z-index: 3;
  box-shadow: 0 6px 20px rgba(0,0,0,0.35);
}


/* Text */
.hero h1 {
  font-size: 48px;
  margin-top: 30px;
}

.hero p {
  max-width: 520px;
  margin: 15px auto 30px;
  color: #cfc8ff;
}

/* Buttons */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}



.btn-outline {
  padding: 12px 22px;
  border-radius: 25px;
  border: 2px solid #00ff9c;
  background: transparent;
  color: #00ff9c;
  cursor: pointer;
}

/* Waves */
.wave {
  position: absolute;
  top: 50%;
  width: 40%;
  height: 2px;
  background: repeating-linear-gradient(
    to right,
    rgba(255,255,255,0.6),
    rgba(255,255,255,0.6) 2px,
    transparent 2px,
    transparent 8px
  );
  opacity: 0.4;
}

.wave-left {
  left: 0;
}

.wave-right {
  right: 0;
}


/* ABOUT */
.about{
  padding:80px 60px;
  text-align:center;
}

.about p{
  max-width:800px;
  margin:20px auto;
  color:#bbb;
}

.stats{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:30px;
  margin-top:40px;
}

.stats h3{
  color:#00ff9c;
  font-size:28px;
}






 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
      
    }

    body {
      background: #14001f;
      color: white;
    }
    .container{
  max-width: 1200px;
  margin: 0 auto;
  max-height: 785px;
}


    .container > div {
      background: #2b0050;
      padding: 30px;
      border-radius: 20px;
    }

    /* Grid Areas */
    .title {
      grid-area: title;
      text-align: center;
      font-size: 36px;
      font-weight: bold;
    }

    .audio {
      grid-area: audio;
    }

    .mobile {
      grid-area: mobile;
    }

    .global {
      grid-area: global;
    }

    .interview {
      grid-area: interview;
    }

    .resources {
      grid-area: resources;
    }

    .container {
      display: grid;
      gap: 30px;
      padding: 60px;
      grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,1fr);

      grid-template-areas:
       
        "audio mobile mobile "
        "audio global global "
        "interview interview  resources";
    }

    h3 {
      margin-bottom: 12px;
    }

    p {
      color: #d3c3e5;
      line-height: 1.6;
    }
.container > div img{
  margin-bottom: 10px;
}

    /* Mobile */
    @media screen and (max-width: 576px) {
      .container {
        grid-template-areas:
          "title"
          "audio"
          "mobile"
          "global"
          "interview"
          "resources";
      }
    }

    /* Tablet */
    @media screen and (min-width: 577px) and (max-width: 992px) {
      .container {
        grid-template-areas:
          "title title title"
          "audio audio mobile"
          "global global mobile"
          "interview interview resources";
      }
    }

/* EPISODES */
section{
  max-width:1200px;
  margin:80px auto;
  padding:0 20px;
}

h2{
  text-align:center;
  font-size:36px;
  margin-bottom:50px;
}

/* ---------- FEATURED EPISODES ---------- */
.episodes{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:30px;
}

.card{
  background:#2b0050;
  border-radius:18px;
  overflow:hidden;
}

.card-img{
  position:relative;
}

.card-img img{
  width:100%;
  height:220px;
  object-fit:cover;
}

/* .play{
  position:absolute;
  top:50%;
  left:50%;
  /* transform:translate(-50%,-50%); */
  /* background:#ff2fa0;
  width:50px;
  height:50px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:20px;
}  */
.play{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 64px;
  height: 64px;
  /* background: rgba(255, 0, 0, 0.9); */
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  /* box-shadow: 0 10px 25px rgba(0,0,0,0.4); */
}
.card-content{
  padding:20px;
}

.card-content h3{
  font-size:18px;
  margin-bottom:10px;
}

.card-content p{
  font-size:14px;
  color:#d1c4e9;
  line-height:1.5;
}

.time{
  margin-top:12px;
  font-size:14px;
  color:#4dff88;
}

/* ---------- MEET THE HOST ---------- */
.host{
  background:#2b0050;
  border-radius:22px;
  padding:30px;
  display:flex;
  gap:30px;
  align-items:center;
}

.host img{
  width:120px;
  height:120px;
  border-radius:50%;
  /* object-fit:cover; */
}

.host h3{
  font-size:22px;
  margin-bottom:10px;
}

.host p{
  color:#d1c4e9;
  line-height:1.6;
  margin-bottom:15px;
}

/* .socials span{
  display:inline-flex;
  width:6px;
  height:6px;
  border-radius:50%;
  background:#ff2fa0;
  align-items:center;
  justify-content:center;
  margin-right:10px;
  cursor:pointer;
  gap: 5px;
} */
 .socials span{
  display: inline-flex;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid white;
 
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}

.socials span img{
  width: 18px;
  height: 18px;
}

/* Footer */
.techwave-footer {
  position: relative;
  background-image: url(../assets/footer-bg.png);
  
  padding: 80px 20px;
  overflow: hidden;
  color: #cfc8ff;
}

.footer-content {
  text-align: center;
  z-index: 2;
  position: relative;
}

.logo {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 20px;
  color: #ffffff;
}

.logo span {
  background: linear-gradient(90deg, #ff3cac, #784ba0, #2b86c5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.platforms {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 20px 0 30px;
}

.platforms a img {
  width: 22px;
  height: 22px;
 
}

.platforms a:hover img {
  transform: scale(1.15);
  opacity: 1;
}

.copyright {
  font-size: 0.9rem;
  opacity: 0.7;
}

/* Wave graphics */
.wave {
  position: absolute;
  top: 50%;
  width: 45%;
  height: 2px;
  background: repeating-linear-gradient(
    to right,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.4) 2px,
    transparent 2px,
    transparent 6px
  );
  opacity: 0.35;
}

.wave-left {
  left: -5%;
  transform: translateY(-50%);
}

.wave-right {
  right: -5%;
  transform: translateY(-50%);
}

/* Responsive */
@media (max-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }

  .wave {
    display: none;
  }
}



/* ---------- RESPONSIVE ---------- */
@media(max-width:900px){
  .episodes{
    grid-template-columns:1fr;
  }

  .host{
    flex-direction:column;
    text-align:center;
  }
}

/* FOOTER */
footer{
  padding:40px;
  
  text-align:center;
  background:#12061f;
}

footer span{
  color:#ff4ecd;
}

/* RESPONSIVE */
@media(max-width:768px){
  .stats{
    grid-template-columns:repeat(2,1fr);
  }
  .navbar{
    flex-direction:column;
    gap:15px;
  }
}
